@import "bootstrap";

.nav-item {
    position: relative;
    display: inline-block;
  }

  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
  }

  .nav-item:hover .dropdown-menu {
    display: block;
  }

  .dropdown-item {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #333;
  }

  .dropdown-item:hover {
    background-color: #f8f9fa;
  }

  .navbar {
    background-color: black !important;
  }

  .nav-link{
    color: white !important;
  }

  #logo{
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
  }

  .jumbotron {
    background-image: asset-url('blog-image.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
  }
  
